<md-content flex="grow" layout="column" layout-align="start center" layout-padding>
  <div layout="row" layout-align="center center" layout-margin>
    <i class="fa fa-3x fa-truck"></i>
    <h1 class="text-center">Suppliers</h1>
  </div>
  <md-button href="/#/suppliers/create" class="md-fab" aria-label="New Supplier">
    <md-icon md-font-icon="fa fa-plus"></md-icon>
  </md-button>
  <div layout layout-align="center" flex>
    <div flex>
      <h2 ng-if="suppliers.length === 0">There are no suppliers.</h2>
      <md-card ng-repeat="supplier in suppliers">
        <md-card-content>
          <div layout layout-align="center center">
            <div layout="column" layout-align="center center">
              <h5 class="m-b-0">Supplier</h5>
              <h4>{{ supplier.Name }}</h4>
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout layout-align="end">
          <md-button class="md-icon-button md-accent" aria-label="Details">
            <md-icon md-font-icon="fa fa-24 fa-info-circle"></md-icon>
          </md-button>
          <md-button href="/#/suppliers/update/{{supplier.Id}}" class="md-icon-button md-primary" aria-label="Edit">
            <md-icon md-font-icon="fa fa-24 fa-pencil"></md-icon>
          </md-button>
          <md-button ng-click="delete(supplier)" class="md-icon-button md-warn" aria-label="Delete">
            <md-icon md-font-icon="fa fa-24 fa-trash"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
